@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth !important;
}
body{
  background-color: var(--color-mix-black);
}

@theme {
  --font-display: "Orbitron", sans-serif;
  --color-dark-black: #1F1F1F;
  --color-mix-black: #0C0C0C;
  --color-orange: #e58e1a;
  --color-grey: #E5E5E5;
  --color-off-grey: #E5E5E529;
  --color-red: #C8102E;
  --color-charcoal: #4A4A4A;
}

@theme {
  --shadow-3xl: 0px 0px 40.2px 0px #C8102E; 
  --spacing-100: 100%;
  --spacing-125: 125%;
  --spacing-127: 127%;
  --spacing-128: 128%;
  --spacing-131: 131%;
  --spacing-133: 133%;
}

@theme {
  --text-tiny-3xl: 28px;
  --text-tiny-4xl: 32px;
  --text-tiny-5xl: 40px;
  --text-tiny-6xl: 52px;
}
.clip-angled {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}